@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the MessageBoard chat application!</h1>
    <p> <a href="/Register">Register and start chatting!</a></p>
    <p> <a href="/Login">Already done? Then login</a></p>
</div>
